

h1, h2, h3, h4, h5, h6 {
  color: #2e2d2d;
  font-family: 'Oswald', sans-serif;
}

ul {
  margin: 0;
}

/* Navigation bar on website */
.navbar {
  overflow: hidden;
  border-radius: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
  color: #ffffff;
  min-height:5%;
}

.navbar-brand {
  height: 5%;
  line-height: 5%;
}
.navbar-toggle {
  margin-top: 23px;
  padding: 5px 5px;
}


.bg-steel {
  background-color: rgba(255, 143, 0, 0.9);
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  border-bottom: 2px solid orange;
}

/* Logo of the website */
.logo {
  font-size: 170%;
  font-weight: 800;
  font-family: 'Dosis', sans-serif;
}

html {
  background: url(/static/match/hero-tiger-fall-leaves.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100%;
  padding-top: 70px;
  background: transparent;
  font-size: 120%;
  text-align: center;
}

.content-section {
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  font-size: 12pt;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
  color: white;
  display: inline-block;
}

.text-secondary {
  display: inline-flex;
}
/* Forms Formatting */

.form-center-container {
  position: relative;
  padding-top: 6%;
}
.form-center-panel {
  border-radius: 20px;
  position: absolute;
  margin-left:15%;
  width: 70%;
  text-align: left;
  padding: 20px;
  color: white; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgba(48, 47, 47, 0.8);
}
.centeredText {
  text-align: center;
}

.whiteText {
  color: white;
}

.hyperText {
  color: rgb(153, 183, 228);
}

/* Messages Formatting */

.messages-container {
  position: relative;
}
.messages-panel {
  position: absolute;
  margin-left: 15%;
  
  width: 70%;
  text-align: left;
  padding: 20px;
}

/* Homepage when logged in with matches and groups */
.matchesDisplay {
  color: white; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  background: rgba(253, 253, 253, 0.1);
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  width: 65%;
  margin: auto;
  margin-top: 5px;
  padding: 1em 1em;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
}

/* Homepage for user who has been authenticated but does not have a match*/

.NotMatchedMessage {
  color: white; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20pt;
  background: rgba(253, 253, 253, 0.281);
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  width: 65%;
  margin: auto;
  padding: 1em 1em;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
}

.notMatchedButton {
  font-size: 170%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  width: 40%;
  display: inline-block;
  vertical-align:bottom;
  border-color: orange; 
  border-radius: 30px;
  line-height: 40px;
}

.notMatchedButton:hover {
  color: rgb(15, 15, 15);
  background: orange;
  border-color: rgb(243, 242, 240); 
  border-width: 2px;
}

/* Homepage Heading/Welcome message/About Button*/
.center-container {
  position: relative;
}

.center-panel {
  position: absolute;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  text-align: center;
  padding-top: 170px;
}

.cover-heading {
  color: white;
  font-size: 700%;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  display: inline-block;
}

.welcomeMessage {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 200%;
  color: white;
  text-align: center;
}

.aboutButton{
  font-size: 110%;
  color: white;
  width: 17%;
  display: inline-block;
  vertical-align:bottom;
  font-style: italic;
  background-color: rgb(255, 148, 8);
  border-color: white; 
  border-radius: 30px; 
   /* border-color: white; 
  border-radius: 30px; */
  
}

.aboutButton:hover {
  font-size: 110%;
  color: grey;
  width: 17%;
  display: inline-block;
  vertical-align:bottom;
  font-style: italic;
  border-color: white; 
  border-radius: 30px; 
  
}
/* Login and Register Buttons on Homepage */

/* position of the login and register buttons*/
.bottom-left-page {
  position: fixed;
  right: 170px;
  top: 5px;
  margin: auto;
} 

.loginButton {
  color: black;
  background-color:rgb(255, 255, 255, 0.8);
  opacity: 0.7;
  font-size: 20px;
  border-radius: 10px;
  border-width: 2px;
  line-height: 20px;
  width: 100px;
  font-family: Tahoma, sans-serif;
  padding: 3pt;
}
.loginButton:hover {
  background-color: rgb(49, 49, 49); /* Green */
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

.registerButton {
  color: black;
  background-color:rgb(255, 255, 255, 0.8);
  opacity: 0.7;
  font-size: 20px;
  border-radius: 10px;
  border-width: 2px;
  line-height: 20px;
  width: 100px;
  font-family: Tahoma, sans-serif;
  padding: 3pt;
}

.registerButton:hover {
  background-color: rgb(49, 49, 49); /* Green */
  color: white;
  opacity: 0.7;
}

/* Preferences buttons */

.stronglyDisagree {
  background-color: rgba(255, 255, 255, 0.8);
  display:inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid rgb(177, 0, 0);
  margin: 5px;
}
.stronglyDisagree:hover {
  background-color: rgb(177, 0, 0);
}

.disagree {
  background-color: rgba(255, 255, 255, 0.8);
  display:inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid orange;
  margin: 5px;
}
.disagree:hover {
  background-color: orange;
}

.neutral {
  background-color: rgba(255, 255, 255, 0.8);
  display:inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 3px solid rgb(216, 212, 3);
  margin: 5px;
}
.neutral:hover {
  background-color: rgb(216, 212, 3);
}

.agree {
  background-color: rgba(255, 255, 255, 0.8);
  display:inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid rgb(0, 97, 0);
  margin: 5px;
}
.agree:hover {
  background-color: rgb(0, 97, 0);
}

.stronglyAgree {
  background-color: rgba(255, 255, 255, 0.8);
  display:inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid rgb(0, 0, 175);
  margin: 5px;
}
.stronglyAgree:hover {
  background-color: rgb(0, 0, 175);
}

.prefSpecTag {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
}




.verticalCenter-panel {
  flex: 0 0 100%;
    margin: 0 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: flex-start;
  /* position: absolute; */
  /* vertical-align:"middle"; */

  
}

/* About Page Stylings */

.about-page-title {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 200%;
  color: white;
  text-align: center;
}

.about-container {
  position: relative;
}

.about-panel{
  position: absolute;
  margin-left:15%;
  width: 70%;
  padding: 20px;
  color: white; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgba(75, 75, 75, 0.5);
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  padding: 1em 1em;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
}

.hook{
  right: 0;
  width: 40%;
  text-align: center;
}

.hook-text {
  color: white;
  font-size: 130%;
  font-family: "Gugi";
  border-radius: 25px;
  border-width: 2px;
  background-color: rgb(255, 145, 0, 0.8);
  padding: 1em 1em;
}
.aboutSection{
  color: white;
  left: 0;
  width: 70%;
  text-align: left;
  font-size: 90%;
  font-weight: 200;
  padding: 1em 1em;
}

.about-section-title {
text-align: center;
color: white;
}

.about-us {
  text-align: center;
}

/* FAQ Page */

.faq-container {
  position: relative;
}

.faq-panel{
  position: absolute;
  width: 100%;
  color: white; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgba(75, 75, 75, 0.5);
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  margin: 10px 10px 10px 10px;
  padding: 1em 1em;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
}

.faq-align {
  text-align: left;
}

.faq-section-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
  font-weight: 700;
  color: white;
  text-align: left;

}