{% extends "match/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="form-center-container">
        <div class="form-center-panel">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                    <legend class="border-bottom mb-4 centeredText whiteText">Group</legend>
                    {{ form.group_name|as_crispy_field }}
                    {{ form.group_image|as_crispy_field }}
                    {{ form.group_description|as_crispy_field }}
                    {{ form.members|as_crispy_field}}
             
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
         </div>
    </div>
{{ form.media.js }}
{% endblock content %}
