{% extends "match/base.html" %}
{% block content %}
  {% if user.Profile.signed_in %}
      
    {% if request.user.is_superuser %}
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'match-all' %}">Match All</a>
    
    {% else %}

        <div class= "form-center-container">
          <div class="form-center-panel">

            {% if user.Profile.is_global %}
            <h2 class="whiteText centeredText">Your Princeton-Wide Match Of the Week </h2>
            <hr>
            <div class = "matchesDisplay"> 
              <article class="media">
                    <br>
                  <img class="rounded-circle article-img" src="{{ user.Profile.mate_image.url }}">
                  <div class="media-body">
                    <div class="article-metadata">
                      <a class="mr-2">{{ user.Profile.mate_firstname }} {{ user.Profile.mate_lastname }}</a>
                      <a class= "hyperText" href = "mailto: {{ user.Profile.mate_email }}">{{ user.Profile.mate_email }}</a>
                    </div>
                    <p class="article-content">{{ user.Profile.mate_personal_message }}</p>
                  </div>
              </article>
            </div>   
            <br>
            {% endif %}
      <h2 class="whiteText centeredText">Groups You Are In</h2>
      <hr>
      {% for group in groups_member %}
        <article class="media matchesDisplay">
          <img class="rounded-circle article-img" src="{{ group.group_image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'group-detail' group.id %}">{{ group.group_name }}</a>
          </div>
          <p class="article-content">{{ group.group_description }}</p>
          {% for pair in pairs %}
            {% if pair.pair_group == group %}
              {% if pair.pair_1 == user.id %}
              <p class="article-content d-inline">You're matched with:
                <a class= "hyperText d-inline" href = "mailto: {{ pair.pair2_email }}">{{ pair.pair_2_first }}</a>
              </p>
              {% else %}
              <p class="article-content d-inline">You're matched with:
               <a class= "hyperText d-inline" href = "mailto: {{ pair.pair1_email }}">{{ pair.pair_1_first }}</a>
              </p>
              {% endif %}
            {% endif %}
          {% endfor %}
        </article>
      {% endfor %}
      <br>
      <h2 class="whiteText centeredText">Groups You Admin </h2>
      <hr>
      {% for group in groups_owner %}
        <article class="media matchesDisplay">
          <img class="rounded-circle article-img" src="{{ group.group_image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'group-detail' group.id %}">{{ group.group_name }}</a>
          </div>
          <p class="article-content">{{ group.group_description }}</p>
        </article>
      {% endfor %}
    {% endif %}
  </div>
</div>
  {% else %}
    <div class="center-container"> 
      <div class = "center-panel">
        <h1 class="cover-heading">TigerMingle</h1>
        <p class="welcomeMessage">Meet More People</p>
        <a class="aboutButton btn btn-lg active btn-block" href="{% url 'match-about' %}">About</a> 
        <a class="aboutButton btn btn-lg active btn-block" href="{% url 'match-faq' %}">FAQ</a> 
      </div>
    </div>
    <div class="bottom-left-page">
        <table>
          <tr>
            <th>
                <a class="btn loginButton btn-lg active btn-block" href="{% url 'login' %}">Login</a>
            </th>
            <th>
            </th>
            <th>
                <a class="btn loginButton btn-lg active btn-block" href="accounts/login/">CAS</a>
            </th>
          </tr>
        </table>
    </div>
  {% endif %}
{% endblock content %}
