{% extends "match/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="form-center-container">
        <div class="form-center-panel">
            <form method="POST">
                {% csrf_token %}
                <legend class="border-bottom mb-4 centeredText">Preferences</legend>
                {{ form|crispy }}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}