{% extends "match/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="form-center-container">
        <div class="form-center-panel">
            <form method="POST">
                {% csrf_token %}
                <legend class="border-bottom mb-4 centeredText whiteText">Join Today</legend>
                {{ form|crispy }}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2 hyperText" href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
        </div>
    </div>
{% endblock content %}
